* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("https://img.freepik.com/premium-photo/modern-payment-methods-wallet-icon-digital-payment-development_584311-880.jpg?w=996");
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    padding: 20px;
  }
  
  .payment-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .payment-section h2 {
    margin-bottom: 20px;
  }
  
  #totalAmount {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .payment-options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .payment-options button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  .payment-options button:hover {
    background-color: #0056b3;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  nav a:hover {
    text-decoration: underline;
  }